body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Animação suave para os cards */
.glass-card {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@import "tailwindcss";
